Package: com.sticktron.ccmeters14
Name: CCMeters14
Depends: mobilesubstrate, com.opa334.ccsupport
Version: 0.0.4
Architecture: iphoneos-arm
Description: An awesome Control Center module!
Maintainer: Sticktron
Author: Sticktron
Section: Control Center (Modules)
