Package: com.sticktron.ccmeters14
Name: CCMeters14
Depends: mobilesubstrate
Version: 0.0.3
Architecture: iphoneos-arm
Description: An awesome Control Center module!
Maintainer: Sticktron
Author: Sticktron
Section: Control Center (Modules)
