Package: com.sticktron.ccmeters14
Name: CCMeters 14
Depends: mobilesubstrate
Description: An awesome Control Center module!
Maintainer: Sticktron
Author: Sticktron
Section: Control Center (Modules)
Architecture: iphoneos-arm
Version: 0.0.1
Installed-Size: 420
